/*
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {

}

.read-the-docs {
  color: #888;
} */
.pokemon-card {
  position: relative;
}
.add-team-btn, .remove-team-btn{
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
cursor: pointer;
font-weight: bold;
margin-top: 15px;
transition: all 0.3s ease;
}

.add-team-btn{
background-color: #4caf50;
color: white;
}

.add-team-btn:hover{
background-color: #45a049;
}

.remove-team-btn{
  background-color: #f44336;
color: white;
}

.remove-team-btn: hover{
  background-color: #da190b;
}

.team-toggle-btn {
position: absolute;
top: 10px;
left: 10px;
width: 30px;
height: 30px;
border-radius: 50%;
border: none;
cursor: pointer;
font-size: 20px;
font-weight: bold;
display: flex;
align-items: center;
justify-content: center;
transition: all .2s ease;
z-index: 1;
}

.team-toggle-btn.add{
  background-color: #4caf50;
color: white;
}

.team-toggle-btn.remove {
background-color: #f44336;
color: white;
}

.team-toggle-btn:hover{
transform: scale (1.1);
}

.team-toggle-btn:active {
transform: scale (0.9);
}